<div [class.card]="item.internal.classes.card">
    <!--<template  [style.height.px]="editorHeight" [style.width.px]="editorWidth" >-->
        <div *ngIf="!!enableEditor || !!enableEditor" class="card-overlay">
            <div class="card-button-list">
                <button class="card-button" (click)="addOption()">
                    <i class="icon-add-option"></i>
                </button>
                <button class="card-button">
                    <i class="icon-add-actor"></i>
                </button>
                <button class="card-button">
                    <i class="icon-config "></i>
                </button>
                <button class="card-button">
                    <i class="icon-trash "></i>
                </button>
                <button class="card-button">
                    <i class="icon-edit "></i>
                </button>
            </div>
        </div>
    <!--</template>
    <template>-->
        <div *ngIf="item.type == 'Activity'" class="title">
            <span class="fa fa-task"></span>
            <span>{{item.name}}</span>
        </div>
        <div *ngIf="item.type == 'Begin' || item.type == 'End'" class="content card-special">
            <div>
                <div class="jfc-width-20">
                    <i *ngIf="item.type == 'Begin'" class="icon icon-flag-start x-large"></i>
                    <i *ngIf="item.type == 'End'" class="icon icon-flag-end x-large"></i>
                </div>
                <div>
                    <div class="medium special-title">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="small" [innerHtml]="item.description"></div>
                    <!-- should create pipe '|' formattext -->
                </div>
            </div>
        </div>
        <div *ngIf="item.type == 'Activity'" class="content">
            {{item.description}}
        </div>

        <div *ngIf="item.type == 'Actor'" class="actors jfc-width-100">
            <div class="actor" *ngFor="#actor of item.actors" id="{{actor.id}}">
                <div></div>
                <div>
                    <div class="medium">{{actor.name}}</div>
                    <div class="small">{{actor.email}}</div>
                    <div class="small">{{actor.contact}}</div>
                </div>
            </div>
        </div>

        <div class="options">
            <div *ngFor="#option of item.options" id="{{option.id}}" (mouseover)="highlightRelation(this, true)" (mouseleave)="highlightRelation(this, false)">
                <div>
                    <span class="jfc-width-80">{{option.name}}</span>
                    <span class="jfc-width-20 fa fa-play"></span>
                </div>
            </div>
        </div>
    <!--</template>-->
</div>