<!--<div id="chartcanvas" style="right: 0;">-->
<!--</div>-->
<div id="chartTitle" class="large mono bold">
    <span>{{name}}</span>
    <i class="icon icon-edit medium" (click)="editor.config.toggle()"></i>
</div>
<div id="chartscene">
    <template ngFor #item [ngForOf]="items">
        <pb-card
            [attr.id]="item.id" 
            [card-item]="item" 
            [style.left.px]="item.internal.left" 
            [style.top.px]="item.internal.top"
            (rectAvailable)="onCardBoundedRectAvailable($event, items)" 
            (cardAction)="onCardAction($event)" 
            [show-edtior]="_showAdmin">
        </pb-card>
        <template ngFor #option [ngForOf]="item.options">
            <pb-arrow
                [attr.id]="option.id + 'arrow'" 
                [ngClass]="option.internal.classes" 
                [style.left.px]="option.internal.left" 
                [style.top.px]="option.internal.top"
                [style.height.px]="option.internal.height" 
                [style.width.px]="option.internal.width"
                [card-item]="item" 
                [card-internal]="item.internal" 
                [arrow-item]="option"
                (arrowInitialised)="onArrowInitialised($event)">
            </pb-arrow>
        </template>
    </template>
</div>
<!--ng-class="option.internal.class" 
                ng-style="option.internal.style"-->
<!--[style.left.px]="item.internal.left" 
            [style.top.px]="item.internal.top"
            (rectAvailable)="onCardBoundedRectAvailable($event, items)" 
            (cardAction)="onCardAction($event)" 
            [show-edtior]="_showAdmin">-->